{% extends 'base.html' %} {% block title %}League{% endblock %} {% block content
%}

<div class="row justify-content-md-center">
  <div class="container mx-auto">
    <h2 class="text-center m-4">Add team to {{league.name}}</h2>
    <form method="POST" id="add_team_to_league_form">
      {{ form.hidden_tag() }} {% for field in form if field.widget.input_type !=
      'hidden' %}
      <div class="container my-3">
        {{field.label(class="form-label")}}
        <div>{{field(class="form-control")}}</div>
      </div>
      {% endfor %}

      <button class="btn btn-primary btn-block my-4">Add Team</button>
    </form>
  </div>
</div>

{% endblock %}
