<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/static/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css"
    />
    <!-- Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:400,700"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Bangers&display=swap"
      rel="stylesheet"
    />
    <!-- Javascripts -->
    <script
      src="https://use.fontawesome.com/releases/v5.15.3/js/all.js"
      crossorigin="anonymous"
    ></script>
    <script src="http://unpkg.com/jquery"></script>
    <!---------------------->
    <meta
      http-equiv="Content-Security-Policy"
      content="upgrade-insecure-requests"
    />
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="main-nav">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" id="nav-logo" href="/">Bowling MVP</a>
        </div>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarResponsive"
          aria-controls="navbarResponsive"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          Menu
          <i class="fas fa-bars ms-1"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav text-uppercase ml-auto py-4 py-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="/bowlers">Bowlers</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/teams">Teams</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/leagues">Leagues</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/scorecards">Scorecards</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/locate">Locate Lanes</a>
            </li>
            {% if not g.bowler %}

            <li class="nav-item">
              <a class="nav-link" href="/register">Register</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
            </li>

            {% else %}
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                {{ g.bowler.username }}
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li>
                  <a
                    class="dropdown-item"
                    href="/scorecards/{{g.bowler.id}}/new"
                    ><i class="fas fa-edit"></i> Track Your Game</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="/bowlers/{{ g.bowler.id }}">
                    <i class="fas fa-user-ninja"></i> View Your Profile
                  </a>
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    href="/bowlers/{{ g.bowler.id }}/edit"
                  >
                    <i class="fas fa-user-edit"></i> Edit Your Profile
                  </a>
                </li>
                <li><hr class="dropdown-divider" /></li>
                <li>
                  <a class="dropdown-item" href="/logout"
                    ><i class="fas fa-sign-out-alt"></i> Logout</a
                  >
                </li>
              </ul>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    {% for category, message in get_flashed_messages(with_categories=True) %}
    <div class="container alert alert-{{ category }} my-2">{{ message }}</div>
    {% endfor %} {% block content %} {% endblock %}

    <script src="https://unpkg.com/axios@0.19.0/dist/axios.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
