{% extends 'base.html' %} {% block content %}

<div class="row banner">
  <div class="col align-items-center">
    <h1>{{ league.name }} League</h1>
    <a
      class="btn btn-lg text-uppercase"
      href="/leagues/{{ league.id }}/add-team"
      >Add Team</a
    >
  </div>
</div>

<div class="list-group row m-3">
  <div class="col-md-4"></div>
  <div class="col-md-4 mx-auto">
    {% for team in teams %}

    <a
      href="/teams/{{ team.id }}"
      class="list-group-item list-group-item-action"
    >
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{ team.name }}</h5>
      </div>
    </a>

    {% endfor %}
    <div class="col-md-4"></div>
  </div>
</div>
{% endblock %}
