{% extends 'base.html' %} {% block content %}

<div class="row banner">
  <div class="col align-items-center">
    <h1>{{ league.name }}</h1>
    <a
      class="btn btn-lg text-uppercase"
      href="/leagues/{{ league.id }}/add-team"
      >Add Team</a
    >
  </div>
</div>

<div class="list-group row m-3">
  <div class="col-sm-12">
    <div class="d-flex w-100 justify-content-between">
      {% for team in league.teams %}
      <a
        href="/teams/{{ teams.id }}"
        class="list-group-item list-group-item-action"
        ><li><h5>{{ team.name }}</h5></li></a
      >
      {% endfor%}
    </div>
  </div>
</div>

{% endblock %}
