{% extends 'base.html' %} {% block title %}Leagues{% endblock %} {% block
content%}

<div class="row banner">
  <div class="col align-items-center">
    <h1>Leagues</h1>
    <a class="btn btn-lg text-uppercase" href="/leagues/add">Add</a>
  </div>
</div>

<div class="list-group row m-4">
  <div class="col-md-3"></div>
  <div class="col-md-5 mx-auto">
    {% for league in leagues %}

    <a
      href="/leagues/{{ league.id }}"
      class="list-group-item list-group-item-action"
    >
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{ league.name }}</h5>
        <p></p>
      </div>
      <p class="mb-1">{{league.start_date}} - {{league.end_date}}</p>
      <p class="mb-1">Location: {{league.location}}</p>
    </a>
    {% endfor %}
    <div class="col-md-3"></div>
  </div>
</div>
{% endblock %}
