{% extends 'base.html' %} {% block content %}

<div class="row banner">
  <div class="col align-items-center">
    <h1>{{ league.name }} League</h1>
    <small>Date: {{ league.start_date }} to {{ league.end_date }}</small>
    <small>Location: {{ league.location }}</small>
  </div>
</div>

<div class="row m-2">
  <div class="card col-md-5 col-lg-5 p-3 m-1 mx-auto">
    <h3 class="text-center">Teams</h3>
    <a
      class="btn btn-sm text-uppercase mb-2"
      href="/leagues/{{ league.id }}/add-team"
      >Add Team</a
    >

    {% for team in teams %}

    <a
      href="/teams/{{ team.id }}"
      class="list-group-item list-group-item-action"
    >
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{ team.name }}</h5>
      </div>
    </a>

    {% endfor %}
  </div>
  <div class="card col-md-5 col-lg-5 p-3 m-1 mx-auto">
    <h3 class="text-center">Matches</h3>
    <a
      class="btn btn-sm text-uppercase mb-2"
      href="/leagues/{{ league.id }}/add-match"
      >Add Match</a
    >
    <table class="table mx-1">
      <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Teams</th>
        </tr>
      </thead>
      <tbody>
        {% for match in league.matches %}
        <tr>
          <td>{{ match.date }}</td>
          <td>{{ match.team_1_id }} vs {{ match.team_2_id }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
