{% extends 'base.html' %} {% block title %}{{ bowler.first_name }}'s Profile{%
endblock %} {% block content %}

<h1>{{bowler.first_name}} {{bowler.last_name}}</h1>

<div>
  <img src="{{ bowler.image_url }}" alt="user image" width="300px" />
</div>

<div>
  <h2></h2>
  <ul>
    {% for scorecard in bowler.scorecards %}
    <li>
      <a href="/scorecards/{{ scorecard.id }}"
        >{{ scorecard.date }}: {{ scorecard.total_score }}</a
      >
    </li>
    {% endfor %}
  </ul>
</div>

{% endblock %}
