{% extends 'base.html' %} {% block title %}Registration{% endblock %} {% block
content %}
<div class="row justify-content-md-center">
  <div class="container mx-auto">
    <h2 class="text-center m-4">Join Bowling MVP!</h2>
    <small>Track your scores and become a better bowler.</small>
    <form method="POST" id="bowler_form">
      {{ form.hidden_tag() }} {% for field in form if field.widget.input_type !=
      'hidden' %}
      <div class="container my-3">
        {{field.label(class="form-label")}}
        <div>{{field(class="form-control")}}</div>
      </div>

      {% for error in field.errors %}
      <span class="text-danger">{{ error }}</span>
      {% endfor %}{% endfor %}
      <div class="container my-2">
        <input
          type="submit"
          value="Sign me up!"
          class="btn btn-warning btn-block"
        />
      </div>
    </form>
  </div>
</div>

{% endblock %}
