{% extends 'base.html' %}

{% block title %}Bowling Scorecard{% endblock %}
    {% block content %}
    <h1 id="title">Bowling Scorecard</h1>

    <form id="scorecard">
      <table>
          <tr>
            <td colspan="2" id="frame" name="f1">1</td>
            <td colspan="2" id="frame" name="f2">2</td>
            <td colspan="2" id="frame" name="f3">3</td>
            <td colspan="2" id="frame" name="f4">4</td>
            <td colspan="2" id="frame" name="f5">5</td>
            <td colspan="2" id="frame" name="f6">6</td>
            <td colspan="2" id="frame" name="f7">7</td>
            <td colspan="2" id="frame" name="f8">8</td>
            <td colspan="2" id="frame" name="f9">9</td>
            <td colspan="2" id="frame" name="f10">10</td>
          </tr>
          <tr>
            <td>
              <input type="text" class="ball" name="f1b1" size="1" maxlength="1" />
            </td>
            <td>
              <input type="text" class="ball" name="f1b2" size="1" maxlength="1"/>
            </td>
            <td>
              <input type="text" class="ball" name="f2b1" size="1" maxlength="1"/>
            </td>
            <td>
              <input type="text" class="ball" name="f2b2" size="1" maxlength="1"/>
            </td>
            <td>
              <input type="text" class="ball" name="f3b1" size="1" maxlength="1"/>
            </td>
            <td>
              <input type="text" class="ball" name="f3b2" size="1" maxlength="1"/>
            </td>
            <td>
              <input type="text" class="ball" name="f4b1" size="1" maxlength="1"/>
            </td>
            <td>
              <input type="text" class="ball" name="f4b2" size="1" maxlength="1"/>
            </td>
            <td>
              <input type="text" class="ball" name="f5b1" size="1" maxlength="1"/>
            </td>
            <td>
              <input type="text" class="ball" name="f5b2" size="1" maxlength="1"/>
            </td>
            <td>
              <input type="text" class="ball" name="f6b1" size="1" maxlength="1"/>
            </td>
            <td>
              <input type="text" class="ball" name="f6b2" size="1" maxlength="1"/>
            </td>
            <td>
              <input type="text" class="ball" name="f7b1" size="1" maxlength="1"/>
            </td>
            <td>
              <input type="text" class="ball" name="f7b2" size="1" maxlength="1"/>
            </td>
            <td>
              <input type="text" class="ball" name="f8b1" size="1" maxlength="1"/>
            </td>
            <td>
              <input type="text" class="ball" name="f8b2" size="1" maxlength="1"/>
            </td>
            <td>
              <input type="text" class="ball" name="f9b1" size="1" maxlength="1"/>
            </td>
            <td>
              <input type="text" class="ball" name="f9b2" size="1" maxlength="1"/>
            </td>
            <td>
              <input type="text" class="ball" name="f10b1" size="1" maxlength="1"/>
            </td>
            <td>
              <input type="text" class="ball" name="f10b2" size="1" maxlength="1"/>
            </td>
            <td>
              <input type="text" class="ball" name="f10b3" size="1" maxlength="1"/>
            </td>
            <td></td>
            <td>Max Score</td>
          </tr>
          <tr>
            <td colspan="2">
              <input type="text" class="score" name="f1-score" size="7" readonly="true" />
            </td>
            <td colspan="2">
              <input type="text" class="score" name="f2-score" size="7" readonly="true" />
            </td>
            <td colspan="2">
              <input type="text" class="score" name="f3-score" size="7" readonly="true" />
            </td>
            <td colspan="2">
              <input type="text" class="score" name="f4-score" size="7" readonly="true" />
            </td>
            <td colspan="2">
              <input type="text" class="score" name="f5-score" size="7" readonly="true" />
            </td>
            <td colspan="2">
              <input type="text" class="score" name="f6-score" size="7" readonly="true" />
            </td>
            <td colspan="2">
              <input type="text" class="score" name="f7-score" size="7" readonly="true" />
            </td>
            <td colspan="2">
              <input type="text" class="score" name="f8-score" size="7" readonly="true" />
            </td>
            <td colspan="2">
              <input type="text" class="score" name="f9-score" size="7" readonly="true" />
            </td>
            <td colspan="2">
              <input type="text" class="score" name="f10-score" size="7" readonly="true" />
            </td>
            <td colspan="2">&nbsp;</td>
            <td>
              <input type="text" id="max-score" name="total-score" size="8" readonly="true" value="300"/>
            </td>
          </tr>
            <td colspan="7">
              <input type="button" id="clear" value="Clear scores"/>
            </td>
          </tr>
      </table>
    </form>

    <script src='/static/scorecard.js'></script>
 {% endblock %}
