<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bowling Scorecard</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>

  <body>
    <h1 id="title">Bowling Scorecard</h1>

    <form id="scorecard">
      <table>
          <tr>
            <td colspan="2" id="frame">1</td>
            <td colspan="2" id="frame">2</td>
            <td colspan="2" id="frame">3</td>
            <td colspan="2" id="frame">4</td>
            <td colspan="2" id="frame">5</td>
            <td colspan="2" id="frame">6</td>
            <td colspan="2" id="frame">7</td>
            <td colspan="2" id="frame">8</td>
            <td colspan="2" id="frame">9</td>
            <td colspan="2" id="frame">10</td>
          </tr>
          <tr>
            <td>
              <input type="text" class="ball" size="1" maxlength="1"/>
            </td>
            <td>
              <input type="text" class="ball" size="1" maxlength="1"/>
            </td>
            <td>
              <input type="text" class="ball" size="1" maxlength="1"/>
            </td>
            <td>
              <input type="text" class="ball" size="1" maxlength="1"/>
            </td>
            <td>
              <input type="text" class="ball" size="1" maxlength="1"/>
            </td>
            <td>
              <input type="text" class="ball" size="1" maxlength="1"/>
            </td>
            <td>
              <input type="text" class="ball" size="1" maxlength="1"/>
            </td>
            <td>
              <input type="text" class="ball" size="1" maxlength="1"/>
            </td>
            <td>
              <input type="text" class="ball" size="1" maxlength="1"/>
            </td>
            <td>
              <input type="text" class="ball" size="1" maxlength="1"/>
            </td>
            <td>
              <input type="text" class="ball" size="1" maxlength="1"/>
            </td>
            <td>
              <input type="text" class="ball" size="1" maxlength="1"/>
            </td>
            <td>
              <input type="text" class="ball" size="1" maxlength="1"/>
            </td>
            <td>
              <input type="text" class="ball" size="1" maxlength="1"/>
            </td>
            <td>
              <input type="text" class="ball" size="1" maxlength="1"/>
            </td>
            <td>
              <input type="text" class="ball" size="1" maxlength="1"/>
            </td>
            <td>
              <input type="text" class="ball" size="1" maxlength="1"/>
            </td>
            <td>
              <input type="text" class="ball" size="1" maxlength="1"/>
            </td>
            <td>
              <input type="text" class="ball" size="1" maxlength="1"/>
            </td>
            <td>
              <input type="text" class="ball" size="1" maxlength="1"/>
            </td>
            <td>
              <input type="text" class="ball" size="1" maxlength="1"/>
            </td>
            <td></td>
            <td>Max Score</td>
          </tr>
          <tr>
            <td colspan="2">
              <input type="text" class="score" size="7" readonly="true" />
            </td>
            <td colspan="2">
              <input type="text" class="score" size="7" readonly="true" />
            </td>
            <td colspan="2">
              <input type="text" class="score" size="7" readonly="true" />
            </td>
            <td colspan="2">
              <input type="text" class="score" size="7" readonly="true" />
            </td>
            <td colspan="2">
              <input type="text" class="score" size="7" readonly="true" />
            </td>
            <td colspan="2">
              <input type="text" class="score" size="7" readonly="true" />
            </td>
            <td colspan="2">
              <input type="text" class="score" size="7" readonly="true" />
            </td>
            <td colspan="2">
              <input type="text" class="score" size="7" readonly="true" />
            </td>
            <td colspan="2">
              <input type="text" class="score" size="7" readonly="true" />
            </td>
            <td colspan="2">
              <input type="text" class="score" size="7" readonly="true" />
            </td>
            <td colspan="2">&nbsp;</td>
            <td>
              <input type="text" id="max-score" size="8" readonly="true" value="300"/>
            </td>
          </tr>
            <td colspan="7">
              <input type="button" id="clear" value="Clear scores"/>
            </td>
          </tr>
      </table>
    </form>

    <script src='/static/scorecard.js'></script>
  </body>
</html>
