{% extends 'base.html' %} {% block title %}Bowling Scorecard{% endblock %} {%
block content %}
<div class="row justify-content-md-center">
  <div class="container mx-auto">
    <h2 class="text-center m-2">Scorecard</h2>
    <p class="text-center">Track your score below. Have fun!</p>

    <form id="scorecard">
      <table class="table table-dark table-striped">
        <thead>
          <tr>
            <th scope="col">Frame #</th>
            <th scope="col">Ball #</th>
            <th scope="col">Knocked Down Pins</th>
            <th scope="col">Score</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>1</td>
            <td>
              <input
                type="text"
                class="ball"
                name="f1b1"
                size="1"
                maxlength="1"
              />
            </td>
          </tr>
          <tr>
            <th scope="row">1</th>
            <td>2</td>
            <td>
              <input
                type="text"
                class="ball"
                name="f1b2"
                size="1"
                maxlength="1"
              />
            </td>
            <td>
              <input
                type="text"
                class="score"
                name="f1-score"
                size="7"
                readonly="true"
              />
            </td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>1</td>
            <td>
              <input
                type="text"
                class="ball"
                name="f2b1"
                size="1"
                maxlength="1"
              />
            </td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>2</td>
            <td>
              <input
                type="text"
                class="ball"
                name="f2b2"
                size="1"
                maxlength="1"
              />
            </td>
            <td>
              <input
                type="text"
                class="score"
                name="f2-score"
                size="7"
                readonly="true"
              />
            </td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>1</td>
            <td>
              <input
                type="text"
                class="ball"
                name="f3b1"
                size="1"
                maxlength="1"
              />
            </td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>2</td>
            <td>
              <input
                type="text"
                class="ball"
                name="f3b2"
                size="1"
                maxlength="1"
              />
            </td>
            <td>
              <input
                type="text"
                class="score"
                name="f3-score"
                size="7"
                readonly="true"
              />
            </td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>1</td>
            <td>
              <input
                type="text"
                class="ball"
                name="f4b1"
                size="1"
                maxlength="1"
              />
            </td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>2</td>
            <td>
              <input
                type="text"
                class="ball"
                name="f4b2"
                size="1"
                maxlength="1"
              />
            </td>
            <td>
              <input
                type="text"
                class="score"
                name="f4-score"
                size="7"
                readonly="true"
              />
            </td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>1</td>
            <td>
              <input
                type="text"
                class="ball"
                name="f5b1"
                size="1"
                maxlength="1"
              />
            </td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>2</td>
            <td>
              <input
                type="text"
                class="ball"
                name="f5b2"
                size="1"
                maxlength="1"
              />
            </td>
            <td>
              <input
                type="text"
                class="score"
                name="f5-score"
                size="7"
                readonly="true"
              />
            </td>
          </tr>
          <tr>
            <th scope="row">6</th>
            <td>1</td>
            <td>
              <input
                type="text"
                class="ball"
                name="f6b1"
                size="1"
                maxlength="1"
              />
            </td>
          </tr>
          <tr>
            <th scope="row">6</th>
            <td>2</td>
            <td>
              <input
                type="text"
                class="ball"
                name="f6b2"
                size="1"
                maxlength="1"
              />
            </td>
            <td>
              <input
                type="text"
                class="score"
                name="f6-score"
                size="7"
                readonly="true"
              />
            </td>
          </tr>
          <tr>
            <th scope="row">7</th>
            <td>1</td>
            <td>
              <input
                type="text"
                class="ball"
                name="f7b1"
                size="1"
                maxlength="1"
              />
            </td>
          </tr>
          <tr>
            <th scope="row">7</th>
            <td>2</td>
            <td>
              <input
                type="text"
                class="ball"
                name="f7b2"
                size="1"
                maxlength="1"
              />
            </td>
            <td>
              <input
                type="text"
                class="score"
                name="f7-score"
                size="7"
                readonly="true"
              />
            </td>
          </tr>
          <tr>
            <th scope="row">8</th>
            <td>1</td>
            <td>
              <input
                type="text"
                class="ball"
                name="f8b1"
                size="1"
                maxlength="1"
              />
            </td>
          </tr>
          <tr>
            <th scope="row">8</th>
            <td>2</td>
            <td>
              <input
                type="text"
                class="ball"
                name="f8b2"
                size="1"
                maxlength="1"
              />
            </td>
            <td>
              <input
                type="text"
                class="score"
                name="f8-score"
                size="7"
                readonly="true"
              />
            </td>
          </tr>
          <tr>
            <th scope="row">9</th>
            <td>1</td>
            <td>
              <input
                type="text"
                class="ball"
                name="f9b1"
                size="1"
                maxlength="1"
              />
            </td>
          </tr>
          <tr>
            <th scope="row">9</th>
            <td>2</td>
            <td>
              <input
                type="text"
                class="ball"
                name="f9b2"
                size="1"
                maxlength="1"
              />
            </td>
            <td>
              <input
                type="text"
                class="score"
                name="f9-score"
                size="7"
                readonly="true"
              />
            </td>
          </tr>
          <tr>
            <th scope="row">10</th>
            <td>1</td>
            <td>
              <input
                type="text"
                class="ball"
                name="f10b1"
                size="1"
                maxlength="1"
              />
            </td>
          </tr>
          <tr>
            <th scope="row">10</th>
            <td>2</td>
            <td>
              <input
                type="text"
                class="ball"
                name="f10b2"
                size="1"
                maxlength="1"
              />
            </td>
          </tr>
          <tr>
            <th scope="row">10</th>
            <td>3</td>
            <td>
              <input
                type="text"
                class="ball"
                name="f10b3"
                size="1"
                maxlength="1"
              />
            </td>
            <td>
              <input
                type="text"
                class="score"
                name="f10-score"
                size="7"
                readonly="true"
              />
            </td>
          </tr>
          <tr>
            <th scope="row">Max Score</th>
            <td></td>
            <td></td>
            <td>
              <input
                type="text"
                id="max-score"
                name="total-score"
                size="8"
                readonly="true"
                value="300"
              />
            </td>
          </tr>
        </tbody>
      </table>

      <input
        type="button"
        class="btn btn-primary btn-block mt-1"
        id="clear"
        value="Clear scores"
      />
      <button class="btn btn-primary btn-block my-2">Save Game</button>
    </form>
  </div>
</div>

<script src="/static/scorecard.js"></script>
{% endblock %}
