<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>    <p><table class="key"><tr><td class="keye"><b>Key</b></td><td class="keyo"><b>Input</b></td></tr><tr><td class="keye">Hit by 1<sup>st</sup> ball</td><td class="keyo">\/</td></tr><tr><td class="keye">Missed by 1<sup>st</sup> ball</td><td class="keyo">X</td></tr><tr><td class="keye">Left standing</td><td class="keyo">O</td></tr>  </table></p></body>
</html>
